<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.cobrosabs.rodrigo"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Cobros Abc</name>

  <description>
      Herramienta de sincronizacion para cobros abc.
  </description>

  <author href="#" email="rodrigogarciahoyos@gmail.com">
      Rodrigo Garcia
  </author>

<allow-navigation href="*" />
<allow-intent href="*" />
<access origin="*" />

     <platform name="android">
              <icon src="img/icono.png" density="ldpi" />
              <icon src="img/icono.png" density="mdpi" />
              <icon src="img/icono.png" density="hdpi" />
              <icon src="img/icono.png" density="xhdpi" />
     </platform>
    

  <plugin name="cordova-plugin-whitelist" spec="~1" />
  <plugin name="cordova-plugin-inappbrowser"/>
</widget>